{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",

  "plugins": ["prettier-plugin-tailwindcss"]
}
